*{
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
}
p {
    line-height: 2;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
h2 {
    text-align: center;
}

/*header*/

.main-bar {
    background-color: #ffcc00;
    height: 500px;
}

header {
    background-color: #ffcc00;
    height: 300px;
}
header img {
    width: 30%;
    padding-left: 60%;
}
.about-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
}
